{% extends 'accueil/index_base.html' %}
{% block content %}
		

		<h2>BONJOUR</h2>
		
		<p>Si vous en avez marre de galérer dans des boîtes de nuits futiles, ou de dépenser toute vos fortunes dans des Uber faute de métro : ce site est fait pour vous. Vous pourrez en effet rejoindre des soirées organisées par des particuliers, en dépensant une petite somme de participation pour la nourriture et les boissons.</p>
		<p>Laissez-vous tenter, et inscrivez-vous dès maintenant afin de pouvoir profiter de la soirée de lancement. Elle arrive bientôt, et on peut déjà vous promettre que ce sera une <b>dinguerie !</b></p>
		
		<p><a href="/register"><img src=""/></a></p>
		

{% endblock %}