{% extends 'accueil/base.html' %}
{% block content %}
		

		<h2>Mode d'emploi</h2>
		
		<h3>Vous voulez participer à une soirée ?</h3>
		<p>Consultez la liste des évènements organisés (cf. Menu). Si l'un d'entre eux vous intéresse, cliquez dessus et demandez à y participer. L'organisateur recevra alors une notification et décidera ou non de vous accepter. Si c'est le cas, vous recevrez vous-même un message vous inviter à payer une éventuelle participation aux frais.</p>
		<p>Dès que vous aurez payé, l'adresse de l'évènement vous sera dévoilée et votre nom sera ajouté dans la liste des invités !</p>
		
		<h3>Vous voulez organiser une soirée ?</h3>
		<p>Allez sur la page 'Evènements' (cf. Menu) puis 'Créer un évènement'. Remplissez le formulaire puis publiez l'évènement. Lorsqu'un fêtard voudra y participer, vous recevrez sa demande et la possibilité de l'accepter ou nom : à vous de voir. Si jamais vous l'acceptez à votre soirée, il pourra payer l'éventuelle participation aux frais que vous demandez, auquel cas vous le verrez apparaître dans votre liste d'invités.</p>
		<p>N'oubliez pas : un profil bien rempli, c'est toujours mieux, et n'hésitez pas à téléphoner votre interlocuteur pour vous assurer que tout se déroule à merveille !</p>
		
		<h3>Confiance, responsabilité et sécurité</h3>
		<p>Iboo est partenaire avec Stripe : plateforme de paiements sécurisée. Toutes vos données bancaires ne seront jamais traitées sur les serveurs du site Iboo, et nous n'aurons pas accès à vos données sensibles (notamment votre mot de passe).</p>
		<p>Tous les utilisateurs ayant payé pour participer à une soirée et n'ayant pas pu participer à cette soirée seront remboursés intégralement. Pour se prémunir des abus, les organisateurs pourront prendre en photo les personnes qui assistent à leurs évènements, dans un cadre qu'on peut distinct. En l'absence de ces photos, Iboo donnera systématiquement raison au participant faute de preuves. En utilisant ce service, ceux-ci accepteront la possibilité d'être pris en photo pour faciliter les choses en cas de litige.</p>
		<p>Iboo ne se tient pas responsable en cas de dérives dûes à l'utilisation du service : prostitution, utilisation et vente de drogue, dégradation des biens, etc... On demandera toutefois aux organisateurs d'agir dans le cadre de la légalité, en rappelant quelques règles essentielles :</p>
		<ul>
			<li>Interdiction de vendre de l'alcool sans les autorisations adaptées</li>
			<li>Obligation de déclarer à la SACEM les musiques jouées durant l'événement organisé</li>
			<li>Obligation de déclarer ses revenus si revenu il y a</li>
			<li>Obligation de prévenir le voisinage lorsque c'est nécessaire</li>
		</ul>
		<p>Iboo ne se tient pas responsable en cas de non-respect des règles suscitées.</p>
		<p>En cas de délit ou de dégradation, se fier aux organismes compétents (assurance, forces de l'ordre, pompiers...)
		
		<h3>A vous de jouer !</h3>

		<p><a href="/events" class="button">Evénements</a></p>
		
		<p><a href="/register"><img src=""/></a></p>
		

{% endblock %}