{% extends 'accueil/base.html' %}

{% block content %}
    <div class="bulle">
        <h2>{{ user_profile.user.username }}</h2>
		<p>Avatar :</p>
		</p><img src="{{ user_profile.profile_pic_url }}" /></p>
		<p>Age : {{ user_profile.age }}</p>
		<p>Description : {{ user_profile.description }}</p>
		<p>Numéro : {{ user_profile.numero }}</p>
		<p>Profession : {{ user_profile.profession }}</p>
		
		<p><b>Mes évènements</b></p>
		{% for e in events_o %}
			<div class="block">
				<p><a href="{% url 'my_event' pk=e.pk %}">{{ e.title }}</a></p>
			</div>
		{% endfor %}
		<p><a href="/edit_profile" class="button">Editer votre profil</a></p>
		
    </div>
{% endblock %}